<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Bug Report</title>
  </head>
  <body>
    <div id="signup-form" class="popup left">
      <!-- <div class="icon">
        <i class="fa fa-check"></i>
      </div> -->
      <div class="title">Sign Up</div>
      <form class="needs-validation" onSubmit="signUp();">
        <div class="description row">
          <div class="col-3">
            <label for="signup-email">Email:</label>
          </div>
          <div class="col-9">
            <input class="form-control" type="email" id="signup-email" required />
          </div>
        </div>
        <div class="description row">
          <div class="col-3">
            <label for="signup-password">Password:</label>
          </div>
          <div class="col-9">
            <input class="form-control" type="password" id="signup-password" required minlength="6" maxlength="16" />
          </div>
        </div>
        <div class="dismiss-btn">
          <button class="dismiss-popup-btn">Dismiss</button>
          <button type="submit" id="signup-btn">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="left">
      <button id="open-signup-btn" class="btn btn-primary">Sign up</button>
    </div>
    <div id="bug-container" class="hidden">
      <div class="center">
        <button id="bugButton" class="btn btn-primary">Bug Form</button>
      </div>
      <div>
        <div class="popup center" id="bugForm">
          <div class="title">Bugsssssss</div>
          <div class="row">
            <div class="col-4">
              <label for="problem">Problem:</label>
            </div>
            <div class="col-8"><input type="text" name="problem" id="problem" placeholder="problem" required /></div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="errorText">Error Text:</label>
            </div>
            <div class="col-8"><input type="text" name="errorText" id="errorText" placeholder="error text" /></div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="commit">Commit:</label>
            </div>
            <div class="col-8"><input type="text" name="commit" id="commit" placeholder="git commit" /></div>
          </div>

          <div class="row">
            <div class="col-6 p-1 mt-1">
              <input class="form-check-input feature-radio" type="radio" id="feature1" name="featureId" value="1" />
              <label class="form-check-label" for="feature1">Messages</label>
            </div>
            <div class="col-6 p-1 mt-1">
              <input class="form-check-input feature-radio" type="radio" id="feature2" name="featureId" value="2" />
              <label class="form-check-label" for="feature2">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 mt-1">
              <input class="form-check-input feature-radio" type="radio" id="feature3" name="featureId" value="3" />
              <label class="form-check-label" for="feature3">Navbar</label>
            </div>
            <div class="col-6 p-1 mt-1">
              <input class="form-check-input feature-radio" type="radio" id="feature4" name="featureId" value="4" />
              <label class="form-check-label" for="feature3">Other</label>
            </div>
          </div>
          <div class="dismiss-btn">
            <button class="dismiss-popup-btn">Dismiss</button>
            <button id="submit" class="btn btn-warning">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div id="login-form" class="popup right">
      <!-- <div class="icon">
        <i class="fa fa-check"></i>
      </div> -->
      <div class="title">Login</div>
      <div class="description">
        <div class="description row">
          <div class="col-3">
            <label for="login-email">Email:</label>
          </div>
          <div class="col-9">
            <input type="email" id="login-email" />
          </div>
        </div>
        <div class="description row">
          <div class="col-3">
            <label for="login-password">Password:</label>
          </div>
          <div class="col-9">
            <input type="password" id="login-password" />
          </div>
        </div>
      </div>
      <div class="dismiss-btn">
        <button class="dismiss-popup-btn">Dismiss</button>
        <button id="login-btn">Login</button>
      </div>
    </div>
    <div class="right">
      <button id="open-login-btn" class="btn btn-primary">Login</button>
    </div>
  </body>
  <script type="text/javascript">
    const loggedIn = <%= loggedIn %>
  </script>
  <script src="script.js"></script>
</html>
