<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Bug Report</title>
  </head>
  <body>
    <div class="center">
      <button id="bugButton" class="btn btn-primary">Create a Bugform</button>
    </div>
    <div>
      <div class="popup center" id="bugForm">
        <input type="text" name="problem" id="problem" placeholder="problem" required />
        <input type="text" name="errorText" id="errorText" placeholder="error text" />
        <input type="text" name="commit" id="commit" placeholder="git commit" />
        <div class="row">
          <div class="col-6 p-1 mt-1">
            <input class="form-check-input feature-radio" type="radio" id="feature1" name="featureId" value="1" />
            <label class="form-check-label" for="feature1">FEATURE 1</label>
          </div>
          <div class="col-6 p-1 mt-1">
            <input class="form-check-input feature-radio" type="radio" id="feature2" name="featureId" value="2" />
            <label class="form-check-label" for="feature2">FEATURE 2</label>
          </div>
          <div class="col-6 p-1 mt-1">
            <input class="form-check-input feature-radio" type="radio" id="feature3" name="featureId" value="3" />
            <label class="form-check-label" for="feature3">FEATURE 3</label>
          </div>
        </div>
        <div class="dismiss-btn"><button class="dismiss-btn">Dismiss</button></div>

        <button id="submit" class="btn btn-warning">Submit</button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
